<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Base</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
            </style>
<style>
body {   
    font-family: 'Special Elite', cursive; background: rgb(203, 211, 117);}
    
}
</style>
</head>

<body>
    <h1 align="center"> Music Base </h1>

    

    {%for i in c%}
    <div class="card" style="width: 15rem;">
        <img src="static/1.png" class="card-img-top" alt=" ">
        <div class="card-body">
            <h1 class="card-title">{{i[1]}}</h1>
            <h2 class="card-text">{{i[2]}}</h2>

            <h3 class="card-title">{{i[3]}}</h3>
            <h4 class="card-title">{{i[4]}} year release</h4>

            <a href="#" class="btn btn-primary">Get Album</a>
        </div>
    </div>

    <form action="/sicp" method="POST" class="form-contact">
        <p><label>Name</label>
            <input type="text" name="Username" value="" required>
        </p>
        <p><label>Email</label>
            <input type="text" name="Email" value="" required>
        </p>
        <p><input type="submit" value="Send"></p>

    </form>

    {%endfor%}
   

        
</body>

</html>